<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device, initial-scale=1">
        <meta name="author" content="Ecerenic">
        <meta http-equiv="X-UA-COMPATIBLE" content="ie-edge">
        <link rel="shortcut icon" href="./img/favicon.ico">
        <!--JQUERY-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" href="./css/turismo.css" th:href="@{/css/turismo.css}">
        <link rel="stylesheet" type="text/css" href="./js/turismo.js" th:href="@{/js/turismo.js}">
        
        <title></title>
    </head>
    <body>
        <header id="titulo">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">Servicio Turismo</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navDesplegable">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navDesplegable">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                          <a sec:authorize="hasRole('ROLE_USERPREMIUM')" th:href="@{/servicioPremium}" class="nav-link">Servicio Premium</a>
                        </li>
                    </ul>
                </div>
                    <form method="post" th:action="@{/logout}">
                         
                            <div class="nav-item-right mr-1">
                                  <b class="mr-1" style="color:#ffffff">Bienvenido a Aerolinea LASER: </b><span class="mr-2" style="color:#ffffff" sec:authentication="name"></span>
                                <a  th:href="@{/logout}"><input type="submit" class="btn btn-outline-info" value="Cerrar sesión"/></a>
                               
                            </div>
                        
                    </form>	
                    
                </div>
            </nav>
        </header>
        <br/>
        
            <div class="card-group mx-5">
                <div class="abs-center">
                    <div class="card-deck " >
                        <div class="card">
                            <div class="card__image-holder">
                                <img class="card-img img-fluid" style="width:434px;height:250px" src="/img/millas.jpeg" alt="vip-flight" />
                            </div>
                            <div class="card-title">
                                <a href="#" class="toggle-info btn">
                                    <span class="left"></span>
                                    <span class="right"></span>
                                </a>
                                <h2 class="text-center">
                                    Millas Laser Pass
                                </h2>
                            </div>
                            <div class="card-flap flap1">
                                <div class="card-description px-3 mb-3">
                                    <h6 class="text-center"> Entre más viajas, más millas puedes acumular.</h6>
                                </div>
                                
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__image-holder">
                                <img class="card-img img-fluid "  style="width:434px;height:250px" src="/img/descuentos.jpg"  />
                            </div>
                            <div class="card-title">
                                <a href="#" class="toggle-info btn">
                                    <span class="left"></span>
                                    <span class="right"></span>
                                </a>
                                <h2 class="text-center">
                                    Descuentos
                                </h2>
                            </div>
                            <div class="card-flap flap1">
                                <div class="card-description px-3">
                                    <h6 class="text-center">Convenios alrededor del mundo.</h6>
                                </div>
                              
                            </div>
                        </div>

                        <div class="card">
                            <div class="card__image-holder">
                                <img class="card-img img-fluid" style="width:434px;height:250px" src="/img/hotel.jpg" alt="hotel" />
                            </div>
                            <div class="card-title">
                                <a href="#" class="toggle-info btn">
                                    <span class="left"></span>
                                    <span class="right"></span>
                                </a>
                                <h2 class="text-center">
                                    Hoteles
                                </h2>
                            </div> 
                            <div class="card-flap flap1 mb-3">
                                <div class="card-description px-3">
                                    <h6 class="text-center"> Beneficios y Convenios en todo el mundo.</h6>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>